
.nav_menu{
    width: 90%;
    height: 30px;
    position: absolute;
    top: 70px;
    color: #460259;
}

/*aqui terminan cambios hevert*/


h6{
    font-family:"sans serif";
    text-align: left;
    text-decoration:underline;
    color: #270140 ;
    background-color: white;
}
.crearpost
{   
    font-family:"serif";
    text-align: center;
    font-weight: bold;
    color: #460259 ;
    background-color: white;
}
#titcrear, #insertimg
{
    display: inline-block;   
}
#insertimg
{
    float: right;
    padding-inline-start: 3%;
}
.identuser
{
    font-family:"Lucida Sans";
    font-weight: bold;
    text-align: left;
    text-decoration-line:dashed;
    color: #460259 ;
    background-color: white; 
}

#etiper, #etiquet
{
    display: inline-block;   
    padding: 0.25%;
}
#etiper
{
    font-family:"Helvetica";
    font-weight: bold;
    text-align: left;
    color: #460259 ;
    background-color: white; 
    border-radius: 9%;
} 
#lineal
{
    border-width:3px;
    border-style:dotted;
    border-color:#460259;
    width:100%;
}
#us1{
    font-size: 100px;  
}
#etiquet
{
    font-size: 50px;
    float:right;
    padding-right: 15%;
    
}
.etiq{
    width: 60px;
    height: 30px;
    text-align: left;
}
#ubica, #ubic
{
    display: inline-block;   
    padding:0.25%;
}
#ubica
{
    font-family:"Helvetica";
    font-weight: bold;
    text-align: left;
    color: #460259 ;
    background-color: white; 
    font-size: 50px;
} 
#lineal1
{
    border-width:1px;
    border-style:dotted;
    border-color:#460259;
    width:100%;
}
#ubic
{ 
    width: 60px;
    height: 30px;
    text-align: left;
}


h6{
    font-family:"sans serif";
    text-align: left;
    text-decoration:underline;
    color: #270140 ;
    background-color: white;
}
.crearpost
{   
    font-family:"serif";
    text-align: center;
    font-weight: bold;
    color: #460259 ;
    background-color: white;
}
#titcrear, #insertimg
{
    display: inline-block;   
}
#insertimg
{
    float: right;
    padding-inline-start: 3%;
}
.identuser
{
    font-family:"Lucida Sans";
    font-weight: bold;
    text-align: left;
    text-decoration-line:dashed;
    color: #460259 ;
    background-color: white; 
}

#etiper, #etiquet
{
    display: inline-block;   
    padding: 0.25%;
}
#etiper
{
    font-family:"Helvetica";
    font-weight: bold;
    text-align: left;
    color: #460259 ;
    background-color: white; 
    border-radius: 9%;
} 
#lineal
{
    border-width:3px;
    border-style:dotted;
    border-color:#460259;
    width:100%;
}
#us1{
    font-size: 100px;  
}
#etiquet
{
    font-size: 50px;
    float:right;
    padding-right: 15%;
    
}
.etiq{
    width: 60px;
    height: 30px;
    text-align: left;
}
#ubica, #ubic
{
    display: inline-block;   
    padding:0.25%;
}
#ubica
{
    font-family:"Helvetica";
    font-weight: bold;
    text-align: left;
    color: #460259 ;
    background-color: white; 
    font-size: 50px;
} 
#lineal2
{
    border-width:1px;
    border-style:dotted;
    border-color:#460259;
    width:100%;
}
#ubic
{ 
    width: 60px;
    height: 30px;
    text-align: left;
}

.contenedor{
    text-align: center;
}