<html>
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
        <title> username V (@username)| Fotos y videos de Cairina Moschata </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/feed.css" />
        <link rel="stylesheet" href="../static/fontawasome/css/all.min.css">
        <script src="https://kit.fontawesome.com/25598d9e09.js" crossorigin="anonymous"></script>
    </head>
    <body> 
        
        <div class ="barra_estado"> 
            <div class="wrapper">
                <div class="search-input">
                    <a href="" target="_blank" hidden></a>
                    <input type="text" placeholder="¿buscas a alguien? Escribe su nombre aquí">
                    <div class="autocom_box">
                    
                    </div>
                    <div class="icon"> <a href="{{url_for('main.resultados')}}"><i class="fas fa-search"></i></a>
                    </div>
                    <!--<div class="icon"><i class="fas fa-search"></i></div>-->
                </div>
    
            </div>
            <div class="nav_menu">
                <a href="{{url_for('main.feed')}}">Inicio</a> | 

                <a href="{{url_for('main.post')}}">Nuevo Post</a> |
        
                <a href="{{url_for('main.mi_espacio')}}">Mi Espacio</a> |   
        
                <a href="{{url_for('main.explorar')}}">Explorar</a> | 
        
                <a href="{{url_for('main.relacionate')}}">Relacionate</a>
        
            </div>

            <h2 class="icon_text">Cairina Moschata</h2> <!--cambiar imagen a una con icono y letras-->
            <a href="{{url_for('main.feed')}}" > <img src="../static/img/icon_cairina.jpg" class="btn_icon" alt="icono de cairina"></a>
            <a href="{{url_for('main.notificaciones')}}" class="btn_notification"><i class="fas fa-bell"></i></a>
            <a href="{{url_for('main.index')}}" class="btn_logout"><i class="fas fa-sign-out-alt"></i></a>
            <a href="{{url_for('main.mensajes')}}" class="btn_message"> <i class="fas fa-envelope"></i></a>
            <a href="{{url_for('main.perfil_user')}}" class="btn_user"><i class=" fas fa-user-circle"></i></i></a>
             <!-- En el div barra_estado se usan anchors en forma de botones para utilizar iconos de fontawesome
            es necesario tener las carpetas "svgs y webfonts" dentro del proyecto para que funcionen y utilizar un link como 
            se muestra en la linea 10 .....En la clase wrapper se encuenta todo lo relacionado a la barra de busqueda-->
          
        </div>
        <div class="optab" >
         <h5> Inicio |> Perfil |> Cambiar contraseña </h5>
            <table >
                <thead>
                    <tr>
                        <td>0000</td>
                        <td>0000</td>
                        <td>0000</td>
                    </tr>
                </thead>
                <td> Publicaciones </td>
                <td>  Seguidores  </td>
                <td>  Seguidos  </td>
            </table>
        </div>

         <div class="identuser">
            <img src="{{ url_for('static', filename='img/insert photo1.jpg') }}" width="70" height="50"> Nombre de usuario: <styl width="380px"; heigh="25px"> </style>
        </div>

        <form name="camContras" method="POST" action=""> 
        <p> Cambiar contraseña</p>
        <input id="nom" type="tex" name="nombre" style="width: 460px; height: 30px;">  </p>
        <p> Activar verificación en dos pasos <sytle= font font-weight bold>  </sytle=>
            <input id="nombre" type="tex" name="verificarcorreo" style="width: 460px; height: 30px;" style="padding: 20%;">
            <input id="nombre1" type="tex" name="verificartelefono" style="width: 460px; height: 30px;" style="padding-top: 22%;">  </p>

            <p> Verificar correo electrónico <sytle= font font-weight bold>  </sytle=>
                <input id="nom" type="tex" name="nombre" style="width: 460px; height: 30px;" style="padding: 6%;">
            
            <p> Verificar número telefónico <sytle= font font-weight bold>  </sytle=>
                <input id="nom" type="tex" name="nombre" style="width: 460px; height: 30px;" style="padding: 6%;">
       
            <button type="submit" value="Activar verificación en dos pasos"> Activar </button>
    </body>

</html>