    {% extends 'base.html'%}

    {% block estilos %}
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/feed.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/explorar.css" />
    {% endblock %}
    
    {% block scripts %}<script src="../static/js/buscador.js"> </script> {% endblock %}
    
    {% block contenido %}
    
    <div class="nav_menu">
        <a href="{{url_for('main.feed')}}">Inicio</a> | 

        <a href="{{url_for('main.post')}}">Nuevo Post</a> |   

        <a href="{{url_for('main.mi_espacio')}}">Tu espacio</a> | 

        <a href="{{url_for('main.relacionate')}}">Relacionate</a>

    </div>
    <h3 class="amigos">Los mas populares están aquí</h3>

    <div class="resultado_busqueda"> <!--""-->
        <img src="../static/img/shakira.jpg" alt="foto de varias personas tomandose una selfie">
        <img src="../static/img/leomessi.jpg" alt="foto de hombre jugando futbol">
        <img src="../static/img/jbalvin.jpg" alt="foto de mujer en la playa">
    </div>
    {% endblock %}
