{% extends 'base.html'%}

{% block estilos %} <link rel="stylesheet" type="text/css" media="screen" href="../static/css/feed.css" />{% endblock %}

{% block scripts %}<script src="../static/js/buscador.js"> </script> {% endblock %}

{% block contenido %}
<div id ="titulo">
    <h1 id="feed_title"> {{session['nombre']}}, ¿A donde vamos hoy?</h1>  <!--se agrego session  ¿A dónde vamos?-->
    <p></p>
</div>

<div class="contenido">
     <!-- se utilizan 4 divs dentro de contenido, que a su vez contienen las imagenes para poder darles estilos de manera 
    eficiente.... se utilizan anchors como botones para linkear otras vistas -->
    
    <div class="square_post">
        <img class="img_post" src="../static/img/nuevo_post.jpg" alt="imagen de una persona fotofrageando a su perro">
        <a href="{{url_for('main.post')}}" class="btn_post"><h4>Nuevo Post</h4></a>
    </div>
    <div class="square_explore">
        <img class="img_explore" src="../static/img/explorar.jpg" alt="foto de personas viendo el celular">
        <a href="{{url_for('main.explorar')}}" class="btn_explore" ><h4>Explorar</h4></a>
    </div>
    <div class="square_space">
        <img class="img_space" src="../static/img/mi_espacio.jpg" alt="foto de amigos reunidos">
        <a href="{{url_for('main.mi_espacio')}}" class="btn_space"><h4>Mi Espacio</h4></a>
    </div>
    <div class="square_connect">
        <img class="img_connect" src="../static/img/relacionate.jpg" alt="foto de personas conociendose">
        <a href="{{url_for('main.relacionate')}}" class="btn_connect"><h4>Relacionate</h4></a>
    </div>
</div> 
        
{% endblock %}