
    {% extends 'base.html'%}

    {% block estilos %}
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/feed.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/espacio.css" />

    {% endblock %}
    
    {% block scripts %}<script src="../static/js/buscador.js"> </script> {% endblock %}
    
    {% block contenido %}
    

    <div class="nav_menu">
        <a href="{{url_for('main.feed')}}">Inicio</a> | 

        <a href="{{url_for('main.post')}}">Nuevo Post</a> |   

        <a href="{{url_for('main.explorar')}}">Explorar</a> | 

        <a href="{{url_for('main.relacionate')}}">Relacionate</a>

    </div>
    <h3 class="amigos">Tus amigos estan aquí</h3>

    <div class="resultado_busqueda"> <!--""-->
        <img src="../static/img/post _amigos.jpg" alt="foto de varias personas tomandose una selfie">
        <img src="../static/img/post _fut.jpg" alt="foto de hombre jugando futbol">
        <img src="../static/img/post _dann.jpg" alt="foto de mujer en la playa">
    </div>
    {% endblock %}


