

{% extends 'base.html'%}

{% block estilos %}
<meta name="theme color" content="#C991D8">
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/feed.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">

{% endblock %}
<!-- <title> username V (@username)| Fotos y videos de Cairina Moschata </title> -->

{% block scripts %}
<script src="https://kit.fontawesome.com/25598d9e09.js" crossorigin="anonymous"></script>
<script src="js/profile.js"> </script>  
<script src="../static/js/buscador.js"> </script>

{% endblock %}
    

{% block contenido %} 
        <!-- ESTE CSS ESTA UNIDO AL FEED.CSS POR EL CAMBIO QUE HICIERON AL CÓDIGO  -->
        <br>
        <br>

        <div>
            <h4 id=mapa> 
            <a href="/feed/">Inicio </a>
            <a href="/user_profile/">Perfil  </a>
            <a href="/user_profile/">Editar  </a>
            <a href="/new_post/">Nuevo post  </a></h4>
                    
            <h1 id="titcrear" style= "background-color: whitesmoke; color:#460259; text-align: center;"> Crea un Nuevo Post Aquí </h1> 
            <div class="userimg1">
                <img id=fotoperfil src="../static/img/perfil.jpg" style= "width:200px; height:200px">
            </div>
        </div>

        <div class="contenedor">
            
            <div class="userimg2">
                    <img id=fotocamara src="../static/img/iconocamara.png" style= "width:260px; height:200px; ">                    
            </div>

            <div class=centrado id="post">
                <p style="text-align: center;">
                    Sube una imagen:<input type="file" name="imagensubida" accept="image/png, .jpeg, .jpg, image/gif">
                    <input type="submit" value="Enviar datos">
                    <input type="hidden" name="escondido"/> 
                </p> 

            </div>

            <br>
            <div class="textoComentario">
                <textarea name="mitextarea" id="mitextarea" cols="60" rows="9" style="resize: both;"> Agrega aquí tu comentario</textarea><br>
                <button type="submit" value="Crear"> Crear </button>
            </div>
        </div>
        
{% endblock %}