
    
    {% extends 'base.html'%}

    {% block estilos %}
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/feed.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/relacionate.css" />
    {% endblock %}
    
    {% block scripts %}<script src="../static/js/buscador.js"> </script> {% endblock %}
    
    {% block contenido %}
    
    <div class="nav_menu">
        <a href="{{url_for('main.feed')}}">Inicio</a> | 

        <a href="{{url_for('main.post')}}">Nuevo Post</a> |   

        <a href="{{url_for('main.explorar')}}">Explorar</a> | 

        <a href="{{url_for('main.mi_espacio')}}">Mi espacio</a>

    </div>
    <h3 class="amigos">¿los conoces? ¡siguelos!</h3>

    <div class="resultado_busqueda"> <!--""-->
        <img src="../static/img/siguelos.jpg" alt="foto de varias personas tomandose una selfie">
    </div>

    {% endblock %}
    